* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  user-select: none;
}

ul {
  margin-left: 0;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

#toDo {
  display: flex;
  height: 100vh;
}

.toDo__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a3b9d1;
  flex-basis: 35%;
  height: 100%;
}

/* .toDo__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
} */

.toDo__left h1 {
  position: absolute;
  color: white;
  font-size: 55px;
  top: 10px;
}

.toDo__star {
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
  transition: all 500ms ease-in;
}

.toDo__star:hover {
  transform: scale(2.2) rotate(360deg);
  color: yellow;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__image {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user__form {
  text-align: center;
  width: 400px;
  height: 50px;
  /* margin-top: 5px; */
  display: none;
}

.user__input {
  width: 250px;
  height: 50px;
  font-size: 32px;
  border-radius: 20px;
  text-align: center;
}

.user__btn {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(96, 150, 221);
  font-size: 28px;
  border-radius: 8px;
  transition: transform 300ms ease-in;
}

.user__btn:hover {
  transform: scale(1.1);
}

.user__greetings {
  /* padding: 20px; */
  display: none;
}

.greeting__container {
  width: 300px;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting__title {
  color: white;
  width: 200px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  border-radius: 20px;
}

.greeting__edit {
  width: 50px;
  height: 50px;
  color: white;
  background-color: transparent;
  font-size: 28px;
}

.showing {
  display: block;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.work__form {
  text-align: center;
}

.work__input {
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}

.work__btn {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(96, 150, 221);
  font-size: 28px;
  border-radius: 8px;
  margin-left: 5px;
  transition: transform 300ms ease-in;
}

.work__btn:hover {
  transform: scale(1.1);
}

.complete {
  margin-left: 300px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.progress__bar {
  background-color: white;
  width: 80%;
  height: 20px;
  border-radius: 20px;
  padding: 3px;
}

.progress__value {
  background-color: #3e3e95;
  width: 0%;
  height: 100%;
  border-radius: 20px;
}

.toDo__right {
  background-color: #73aace;
  flex-basis: 65%;
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  margin: 10px;
}

.info__clock {
  display: flex;
  height: 20px;
  line-height: 20px;
}

.clock__icon {
  margin-right: 5px;
}

.clock__title {
  font-size: 25px;
}

.info__weather {
  display: flex;
  align-items: center;
}

.weather__icon {
  margin-right: 5px;
}

.weather__title {
  font-size: 15px;
}

.toDoList {
  margin-left: 200px;
}

.toDoList__title {
  display: flex;
  align-items: center;
}

.title__icon {
  color: white;
  font-size: 48px;
  margin-right: 12px;
}

.toDoList__title h1 {
  font-size: 70px;
  color: white;
}

.list {
  overflow-y: auto;
  height: 600px;
  margin-right: 10px;
}

.list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.list::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: skyblue;
  border-radius: 20px;
}

.list::-webkit-scrollbar-track {
  width: 5px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 50px;
  font-size: 48px;
  color: white;
  margin-bottom: 25px;
  animation: fadeIn 300ms ease-in;
}

.none {
  display: none;
}

.list__item form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list__item button {
  font-size: 28px;
  color: white;
  background-color: transparent;
  justify-content: flex-end;
  margin-right: 20px;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.todo__icon {
  transition: all 300ms ease-in;
}

.todo__icon i:hover {
  transform: scale(1.1);
}

.edit__form input {
  width: 400px;
  height: 50px;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 1400px) {
  .toDo__left h1 {
    font-size: 35px;
  }

  .toDo__star {
    font-size: 50px;
    margin-bottom: 70px;
  }

  .greeting__container {
    width: 230px;
  }

  .greeting__title {
    width: 150px;
    font-size: 20px;
  }

  .greeting__edit {
    width: 30px;
    font-size: 15px;
  }

  .user__form {
    width: 230px;
  }

  .user__input {
    width: 150px;
    font-size: 20px;
  }

  .user__btn {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .work__input {
    width: 150px;
    font-size: 20px;
    margin-top: 20px;
  }

  .work__btn {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .complete {
    left: 80%;
    font-size: 10px;
  }

  .progress__bar {
    height: 10px;
  }

  .progress__value {
    height: 100%;
  }

  .title__icon {
    font-size: 20px;
  }

  .toDoList__title h1 {
    font-size: 40px;
  }

  .list__item {
    width: 500px;
    font-size: 38px;
  }

  .list__item input {
  }

  .list__item button {
    font-size: 20px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }

  .info {
    font-size: 10px;
  }

  .clock__title {
    font-size: 15px;
  }

  .weather__title {
    font-size: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .toDo__left h1 {
    font-size: 20px;
  }

  .toDo__star {
    font-size: 70px;
    margin-bottom: 100px;
  }

  .toDoList__title h1 {
    font-size: 20px;
  }

  .list__item {
    width: 200px;
    font-size: 20px;
  }

  .checkbox {
    width: 10px;
    height: 10px;
  }
}
